<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Login</title>

  <link rel="stylesheet" href="/static/css/style.css">
</head>

<body style="display:flex; justify-content:center; align-items:center; height:100vh;">

<div class="card">

  <h2>Admin Login</h2>

  <form method="POST" action="/admin/login">
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit" class="btn">Login</button>
  </form>

  <a href="/">← Back</a>

</div>

<script src="/static/js/ui.js"></script>

</body>
</html>
